node_modules
notes.txt
# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
env/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# React
node_modules/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
.vscode/
*.swp
*.swo